<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="CONSOLE" class="ConsoleAppender">
    <encoder class="JsonEncoder">
      <withFormattedMessage>false</withFormattedMessage>
      <withMessage>true</withMessage>
      <withArguments>false</withArguments>
      <withContext>false</withContext>
      <withMDC>false</withMDC>
    </encoder>
  </appender>

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>